body, li{
    margin:0;
    padding:0;
    list-style: none;
    font-family: Arial;
}
a{
    text-decoration: none;
}
#container{
    display:grid;
    grid-template-rows: 15vh 85vh;
    grid-template-areas:
            'cabecalho'
            'conteudo'
    ;
}
#cabecalho{
    grid-area: cabecalho;
    background-color: white;
    color: white;
    padding: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#cabecalho a{
    color: white;
}
#container{
    grid-area: conteudo;
    background-color: #ccc;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    background-color: grey;
    cursor:pointer;
}

td{
    padding: 20px;
    background-color: hotpink(243, 5, 160);
}